body {
    height: 100%;
    background-image: url(../images/welcome-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }

.enter-headear {
    display: flex;
    flex-wrap: nowrap;
    color: #090E2B;
    font-weight: 900;
    font-size: 3.33vw;
    line-height: 4.26vw;
    margin-bottom: 2.8vw;
}

 .logo {
    
    margin: 0;
    padding: 0;
}
.logo-img{
    position: relative;
    right: auto;
    /* height: 7.3148vh;*/
    width: 18.906vw;
    margin-top: 3vw;
    margin-right: auto;
    margin-left: 5.2vw;
}
.enter-container {
    margin-left: 8.2vw;
    width: 45%;
    padding: 0px;
    margin-top: 5.6vh;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.welcome-button:not(:last-child) {
    margin-bottom: 2.29vw;
}

.form-container {
    
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.enter-input {
    border: 4px solid #090E2B;
    width: 32.44vw;
    height: 4.895vw;
    color: #000000;
}

.enter-input:not(:last-child) {
    margin-bottom: 1.823vw;
}


.back-icon {
    position: relative;
    width: 4.58vw;
    margin-left: 4vw;
    margin-right: 1.5vw;
}

.enter-submit {
    display: flex;
    justify-content: left;
    margin-top: 0vw;
}