body {
  background: url(../images/Frame12.png) cover no-repeat;
}

/* Main*/

.main-container {
  display: flex;
  /* margin-right: 69px;
    margin-left: 61px;  */
  justify-content: center;
  margin-top: 3.4375vw;
  margin-bottom: 1.04vw;
  /* margin: 66px 69px 20px 61px; */
  display: flex;
}

.photo-container {
  display: flex;
  flex-direction: column;
  width: 36.719vw;
  height: 41.198vw;
  background-color: #f8f6f8;
  padding: 3.28vw 4.479vw 1.198vw 4.479vw;
  border-radius: 1.09375vw;
}

.galochka-icon {
  margin-right: 0.3125vw;
  width: 2.0833vw;
}

.submit-section {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: auto;
}

.input-wrapper {
  margin-top: 2.86458vw;
  display: flex;
  align-items: center;
}

.add-photo-icon {
  height: 1.5625vw;
  width: 1.946875vw;
  margin-right: 2.0833vw;
}

.redactor-container {
  margin-left: 2.0833vw;
  width: 55%;
  max-height: 41.198vw;
  background-color: #f8f6f8;
  padding: 2.4479vw 4.427vw 0.9896vw 4.84375vw;
  border-radius: 1.09375vw;
}

.redactor-heading {
  font-family: "Mont";
  font-weight: 900;
  font-size: 3.3333vw;
  margin-top: 0px;
  margin-bottom: 1.042vw;
  line-height: 4.271vw;
  color: #ff9000;
}

.last-three-iputs:not(:last-child) {
  margin-bottom: 0.39vw;
}

.save-button {
  background-color: #f8f6f8;
  font-weight: 700;
  font-size: 1.4583vw;
  line-height: 1.5625vw;
  color: #ff9000;
  border: none;
  cursor: pointer;
}

.input-photo-label {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 1.3541667vw;
  cursor: pointer;
}

.input-heading {
  font-weight: 700;
  font-size: 1.4583vw;
  color: #ff9000;
  margin-bottom: 0.416667vw;
  line-height: 1.5625vw;
}

.colum {
  display: flex;
  flex-direction: column;
}

.colum:not(:last-child) {
  margin-right: 3.64583vw;
}

.first-colum {
  width: 41%;
}

.second-colum {
  width: 50%;
  margin-left: auto;
}

.colum-fields {
  display: flex;
}

.secon-input:not(:last-child) {
    margin-bottom: 0.26vw;
}

.secon-input {
  font-size: 1.4583vw;
  line-height: 1.5625vw;
  height: 2.8646vw;
  width: 100%;
}

.first-input {
  font-size: 1.4583vw;
  line-height: 1.5625vw;
  height: 2.8646vw;
  width: 100%;
}

.textarea-heading {
  display: block;
}

.textarea:hover {
  box-shadow: 0px 0.209vw 0.209vw rgba(0, 0, 0, 0.25),
    0px 0.209vw 0.209vw rgba(0, 0, 0, 0.25);
}

.textarea:focus {
  box-shadow: none;
  border-color: #ff9000;
}

.textarea {
  font-weight: 400;
  font-size: 1.4583vw;
  line-height: 1.5625vw;
  color: #828396;
  background: #f3f0f8;
  resize: none;
  height: 9.53125vw;
  width: 100%;
  border: 0.15625vw solid #090e2b;
  padding: 1.25vw 0.98958vw;
  border-radius: 1.041667vw;
  transition: 0.3s box-shadow, 0.3s border-color;
}

.photo-submit-section {
  margin-top: 2.2396vw;
}
