body {
    height: 100%;
    background-image: url(images/welcome-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }