body {
    height: 100%;
    background-image: url(../images/welcome-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

a {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
 }
 .registration-headear {
    display: flex;
    flex-wrap: nowrap;
    color: #090E2B;
    font-weight: 900;
    font-size: 3.33vw;
    line-height: 4.26vw;
    margin-bottom: 3.54vw;
    margin-left: 1.5vw;
}

 
.registrarion-container {
    margin-left: 5.2vw;
    width: 45%;
    padding-top: 5vw;
    display: flex;
    flex-direction: column;
    flex-direction: left;
}

.welcome-button:not(:last-child) {
    margin-bottom: 2.29vw;
}

.form-container {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 2.5vw;
}

.enter-input {
    width: 32.44vw;
    height: 4.895vw;
    border: 4px solid #090E2B;
    color: #000000;
}

.enter-input:not(:last-child) {
    margin-bottom: 0.78vw;
}


.back-icon {
    position: relative;
    width: 4.58vw;
    margin-right: 1.25vw;
}

h3 {
    margin-top: 0px;
    padding: 0px;
}

input, div {
    margin: 0;
}

.enter-submit {
    display: flex;
    width: 80%;
    justify-content: center;
    margin-top: 1.146vw;
}