{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <title>{{title}}</title>
    <!--<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile_styles.css' %}">
    <link href = "{% static 'css/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />-->
    {% block css %}
    {% endblock %}

</head>
<body>
{% block mainmenu %}
<header class="header">
    <div class="container header-container">
        <a href="{% url 'home' %}" class="logo">
            <img src="{% static 'images/Logo.png' %}" alt="" class="logo-img">
        </a>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item"><a href="{% url 'home' %}" class="nav-link"></a>Главная</li>
                <li class="nav-item"><a href="" class="nav-link"></a>Мои подписки</li>
            </ul>
        </nav>
        <div class="user-container">
            <img src="{% static 'images/user-icon.png' %}" alt="" class = "user-icon">
            <a href="{% url 'profile' %}" class ="profile-link">Мой профиль</a>
        </div>
    </div>
</header>
{% endblock %}

<main>
{% block content %}
{% endblock %}
</main>


<footer class="footer">
    <div class="footer-container container">
        <div class="footer-left">
            <a href="{% url 'home' %}" class="footer-logo">
                <img src="{% static 'images/Logo.png' %}" alt="" class="footer-logo-img">
            </a>
        </div>
        <div class="footer-right">
            <nav class="nav">
                <ul class="footer-nav-list">
                    <li class="footer-nav-item"><a href="{% url 'home' %}" class="footer-nav-link"></a>Главная</li>
                    <li class="footer-nav-item"><a href="" class="footer-nav-link"></a>Мои проекты</li>
                    <li class="footer-nav-item"><a href="" class="footer-nav-link"></a>Личный кабинет</li>
                </ul>
            </nav>
            <div class="about-us">
                <h2 class="about-us-heading">О нас</h2>
                <ul class="about-us-list">
                    <li class="about-us-item">Команда ОАО ”УЕЛКИ”</li>
                    <li class="about-us-item">Бекэнд-разработчик Катерина</li>
                    <li class="about-us-item">Фронтенд-разработчик Тимофей</li>
                    <li class="about-us-item">Дизайнер Анастасия</li>
                    <li class="about-us-item">Бекэнд-разработчик Михаил</li>
                    <li class="about-us-item">Тимлид Дмитрий</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
