{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/project_page_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
{% endblock %}

{% block content %}
    <main style="display: inline;">
        <div class="hero">
            <div class="hero_info">
                <h1 class="hero_title">{{proj.name}}</h1>
                <h2>Основные мысли</h2>
                <p class="hero-description">{{proj.key_words}}</p>
                <h2 class="hero-review_title">Оценка проекта</h2>
                <div class="hero_review">
                    <div class="hero-review_item">
                        <div class="hero_review_stars hero-review_description">
                            <span class="hero-review_item-review">
                                
                                {{proj.get_rate_registred}} (Зарегистрированными пользователями)
                            </span>  
                        </div>
                    </div>
                    <div class="hero-review_item">
                        <div class="hero_review_stars hero-review_description">
                            <span class="hero-review_item-review">

                                {{proj.get_rate_unregistred}} (Незарегистрированными пользователями)
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_img">
                <img class="hero_pic" src="{{proj.get_photo.url}}">
            </div>
        </div>

        <div class="main_container">
            <div class="description">
                <div>
                    <h1 class="description_title">Описание</h1>
                    <p class="description_text">{{proj.descriptions}}</p>
                </div>
                <div class="link_container">
                    <div class="link_container_left-part">
                        Ссылка на скачивание
                    </div>
                    <div class="link_container_right-part">
                        <a class="description_link" href="{{proj.url}}">Здесь типо ссылка на архив</a>
                    </div>
                </div>
            </div>
            <div class="about-project">
                <h1 class="about-project_title">О проекте</h1>
                <div class="about-project_category_section">
                    <div class="about-project_category">
                        <div class="about-project_category_header">Специализация</div>
                        <div class="about-project_category_description">{{proj.spec_proj}}</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Срок разработки</div>
                        <div class="about-project_category_description">{{proj.time_developing}}</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Тип проекта</div>
                        <div class="about-project_category_description">{{proj.type}}</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Состав участников</div>
                        <div class="about-project_category_description">
                        {% for teammate in proj.teammates %}
                            {% if teammate %}
                                <a href="{{ teammate }}" class="about-project_category_description_user" >{{teammate}}</a>
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="about-project_edit">
                    <div>
                        <img class="about-project_img" src="{% static 'images/pen.png' %}">
                    </div>
                    <div>Редактировать</div>
                </div>
            </div>
        </div>
        
        <div class="review">
            <div class="review_item">
                <h1 class="review-title">Оценить проект</h1>
                <div>
                    <div class="rating"></div>
                    <script>
                        class Rating {
                          constructor(dom) {
                            dom.innerHTML = '<svg width="110" height="20"></svg>';
                            this.svg = dom.querySelector('svg');
                            for(var i = 0; i < 5; i++)
                              this.svg.innerHTML += `<polygon data-value="${i+1}"
                                   transform="translate(${i*22},0)"
                                   points="10,1 4,19.8 19,7.8 1,7.8 16,19.8" stroke-linejoin="round">`;
                            this.svg.onclick = e => this.change(e);
                            this.render();
                          }

                          change(e) {
                            let value = e.target.dataset.value;
                            value && (this.svg.parentNode.dataset.value = value);
                            this.render();
                          }

                          render() {
                            this.svg.querySelectorAll('polygon').forEach(star =>
                            {
                              let on = +this.svg.parentNode.dataset.value >= +star.dataset.value;
                              star.classList.toggle('active', on);
                            });
                          }
                        }
                        document.querySelectorAll('.rating').forEach(dom => new Rating(dom));
                    </script>
                    <!--script src="{% static 'js/rating.js' %}"></script>-->
                </div>
                <h2>Оставить отзыв</h2>
                <p class="review_text">Здесь написан небольшой отзыв на проект, пожелания, что можно добавить, убрать или исправить</p>
            </div>
            <div class="review_item">
                <img src="{% static 'images/review_img.png' %}">
            </div>
        </div>
    </main>
{% endblock %}