<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="general_styles.css">
    <link rel="stylesheet" href="project_page_styles.css">
    <link href = "fonts/stylesheet.css" rel = "stylesheet" type = "text/css" />
</head>
<body>

    <header class="header">
        <div class="container header-container">
            <a href="" class="logo">
                <img src="/images/Logo.png" alt="" class="logo-img">
            </a>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item"><a href="" class="nav-link"></a>Главная</li>
                    <li class="nav-item"><a href="" class="nav-link"></a>Мои подписки</li>
                </ul>
            </nav>
            <div class="user-container">
                <img src="/images/user-icon.png" alt="" class = "user-icon">
                <a href="" class ="profile-link">Мой профиль</a>
            </div>
        </div>
    </header>

    <main style="display: inline;">
        <div class="hero">
            <div class="hero_info">
                <h1 class="hero_title">Название проекта</h1>
                <h2>Основные мысли</h2>
                <p class="hero-description">Здесь небольшой текст, слоган данного проекта, который просто для привлечения внимания
                    Здесь небольшой текст, слоган данного проекта, который просто для привлечения внимания</p>
                <h2 class="hero-review_title">Оценка проекта</h2>
                <div class="hero_review">
                    <div class="hero-review_item">
                        <div class="hero_review_stars hero-review_description">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_empty.png">
                            <img class="star_img last_star" src="/images/star_empty.png">
                            <span class="hero-review_item-review">
                                3.5 (пользователями)
                            </span>  
                        </div>
                    </div>
                    <div class="hero-review_item">
                        <div class="hero_review_stars hero-review_description">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img" src="/images/star_full.png">
                            <img class="star_img last_star" src="/images/star_empty.png">
                            <span class="hero-review_item-review">
                                4.5 (пользователями)
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero_img">
                <img class="hero_pic" src="/images/hero_img.png">
            </div>
        </div>

        <div class="main_container">
            <div class="description">
                <div>
                    <h1 class="description_title">Описание</h1>
                    <p class="description_text">Здесь довольно большой текст, который служит описанием проект, истории его реализции, для чего он предназначен и чем может помочь другим в использовании <br>
                        Здесь довольно большой текст, который служит описанием проект, истории его реализции, для чего он предназначен и чем может помочь другим в использовании <br>
                        Здесь довольно большой текст, который служит описанием проект, истории его реализции, для чего он предназначен и чем может помочь другим в использовании
                    </p>
                </div>
                <div class="link_container">
                    <div class="link_container_left-part">
                        Ссылка на скачивание
                    </div>
                    <div class="link_container_right-part">
                        <a class="description_link" href="/">Здесь типо ссылка на архив</a>
                    </div>
                </div>
            </div>
            <div class="about-project">
                <h1 class="about-project_title">О проекте</h1>
                <div class="about-project_category_section">
                    <div class="about-project_category">
                        <div class="about-project_category_header">Специализация</div>
                        <div class="about-project_category_description">Дизайн мобильных приложений</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Срок разработки</div>
                        <div class="about-project_category_description">3.5 месяца</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Тип проекта</div>
                        <div class="about-project_category_description">Командный</div>
                    </div>
                    <div class="about-project_category">
                        <div class="about-project_category_header">Состав участников</div>
                        <div class="about-project_category_description">
                            <div class="about-project_category_description_user">Бахарева Анастасия</div>
                            <div class="about-project_category_description_user">Сизова Екатерина</div>
                            <div class="about-project_category_description_user">Гольдфарб Михаил</div>
                            <div class="about-project_category_description_user">Тетюшев Тимофей</div>
                            <div class="about-project_category_description_user">Воротов Дмитрий</div>
                        </div>
                    </div>
                </div>
                <div class="about-project_edit">
                    <div>
                        <img class="about-project_img" src="/images/pen.png">
                    </div>
                    <div>Редактировать</div>
                </div>
            </div>
        </div>
        
        <div class="review">
            <div class="review_item">
                <h1 class="review-title">Оценить проект</h1>
                <div>
                    <img class="review_stars" src="/images/star_full.png">
                    <img class="review_stars" src="/images/star_full.png">
                    <img class="review_stars" src="/images/star_full.png">
                    <img class="review_stars" src="/images/star_empty.png">
                    <img class="review_stars" src="/images/star_empty.png">
                </div>
                <h2>Оставить отзыв</h2>
                <p class="review_text">Здесь написан небольшой отзыв на проект, пожелания, что можно добавить, убрать или исправить</p>
            </div>
            <div class="review_item">
                <img src="/images/review_img.png">
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer_logo">
            <img class="footer_logo-img" src="/images/Logo.png">
        </div>
        <div class="footer_nav">
            <a class="nav_link">Главная</a>
            <a class="nav_link">Мои проекты</a>
            <a class="nav_link">Личный кабинет</a>
        </div>
        <div class="about-us_container">
            <div class="nav_link about-us_heading">О нас</div>
            <div class="about-us_contacts">
                <div class="about-us_contacts-left">
                    <a class="about-us_contacts-text" href="/">Команда ОАО ”УЕЛКИ”</a>
                    <a class="about-us_contacts-text" href="/">Бекэнд-разработчик Катерина </a>
                    <a class="about-us_contacts-text" href="/">Фронтенд-разработчик Тимофей </a>
                </div>
                <div class="about-us_contacts-right">
                    <a class="about-us_contacts-text" href="/">Дизайнер Анастасия</a>
                    <a class="about-us_contacts-text" href="/">Бекэнд-разработчик Михаил </a>
                    <a class="about-us_contacts-text" href="/">Тимлид  Дмитрий</a>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>