{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <title>Cyberfolio profile settings</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
</head>
<body>
<div class="registrarion-container">
        <h1 class="registration-headear">Давайте создадим аккаунт!</h1>
        <div class="form-container">
            <form action="{% url 'form' %}" autocomplete method="POST" class="registation-form">
                {% csrf_token %}
                {% for f in form %}
                    {{f}}

                {% endfor %}
            <div class="enter-submit">
                <a href="{% url 'welcome' %}" class="back-button">
                    <img src="{%  static 'images/back-icon.png' %}" alt="" class="back-icon">
                </a>
                <input type="submit" value="Далее" class="enter-submit-button usual-button">
            </div>
            </form>

</div>
</div>
</body>

