{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
{% endblock %}

{% block content %}
    <div class="container user-info-container">
        <div class="left-user-section">
            <h1 class="user-header">{{ user.first_name }} {{ user.last_name }}</h1>
            <p class="user-info user-text">{{ user.descriptions }}</p>
            <div class="user-statistic-container">
                
                <div class="user-statistic">
                    <div class="first-colum">
                        <h3 class="user-statistic-header">Статистика</h3>
                        <ul class="statistic-list">
                            <li class="statistic-item">{{ user.count_projects }} проектов</li>
                            <li class="statistic-item">{{ user.count_followers }} подписок</li>
                            <li class="statistic-item">{{ user.count_followings }} подписчиков</li>
                        </ul>
                    </div>

                    {% if request.user.is_authenticated and not is_your_profile %}
                    <div class="second-colum">
                        {% if request.user.id not in user.get_followings %}
                            <form action="{% url 'subscribe' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button class="usual-button submit-button subscribe" type="submit">Подписаться</button>
                            </form>

                        {% else %}
                            <form action="{% url 'unsubscribe' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ user.id }}">
                            <input type="hidden" name="redirect_url" value="{{ request.get_full_path }}">
                            <button class="usual-button submit-button unsubscribe" type="submit">Отписаться</button>
                            </form>
                        {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="right-user-section">
            <div class="personal-user-info">
                <h4 class="personal-header">Имя Фамилия</h4>
                <p class="personal-item">{{ user.first_name }}</p>
                <p class="personal-item">{{ user.last_name}} </p>
            <p class="personal-item">{{user.sur_sur_name}} </p>
                <h4 class="personal-header">Специализация</h4>
                <p class="personal-item">{{ user.spec }}</p>
                <ul class="user-contacts">
                    {% if user.vk_url %}
                    <li class="contact-item">
                        <a href="{{ user.vk_url }}" class="contact">
                            <img src="{% static 'images/vk-icon.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                    {% if user.hh_url %}

                    <li class="contact-item">
                        <a href="{{ user.hh_url }}" class="contact">
                            <img src="{% static '/images/hh.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}

                    {% if user.behance_url %}
                    <li class="contact-item">
                        <a href="{{ user.behance_url }}" class="contact">
                            <img src="{% static '/images/phone.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="user-avatar">
                {% if user.photo %}
                    <img src="{{user.photo.url}}" alt="" class="avatar">
                {% else %}
                    <img src="{% static '/images/user-image.png' %}" alt="" class="avatar">
                {% endif %}
                {% if is_your_profile %}
                <a href="{% url 'editProfile' slug=request.user.slug %}" class="redactor-link">
                    <img src="{% static '/images/redactor-icon.svg' %}" alt="" class="redactor-icon">

                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container second-container">
        <h1 class="projects-header">Проекты</h1>
        {% if is_your_profile %}
        <div class="add-project-aria">
            <img class="add-project-icon" src="{% static 'images/add-project-icon.png' %}">
            <a href="{% url 'addProject' %}" class="add-project-link"><div class="add-project">+Добавить новый проект</div></a>
        </div>
        {% endif %}
    </div>
    {% for project in projects %}
        <div class="container third-container">
            <div class="project-avatar-aria">
                {% if project.avatar_image %}
                    <img src="{{ project.avatar_image.url }}" alt="" class="avatar">
                {% else %}
                    <img src="{% static '/images/user-image.png' %}" alt="" class="avatar">
                {% endif %}
            </div>
            <div class="project-info-aria">
                <div>
                    <h3 class="project-name">{{ project.name }}</h3>
                    <p class="project-info user-text">{{ project.key_words }}</p>
                </div>
                <div class="about-project-section">
                    <a href="{% url 'project' profile_slug=user.slug post_slug=project.slug %}" class="project-link">
                        <h5 class="abour-project">Подробнее</h5>
                        <img class="abour-project-icon" src="{% static 'images/about-project-icon.svg' %}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

</body>
</html>