{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/user-profile_styles.css' %}">
    <link href = "{% static 'fonts/stylesheet.css' %}" rel = "stylesheet" type = "text/css" />
{% endblock %}

{% block content %}
    <div class="container user-info-container">
        <div class="left-user-section">
            <h1 class="user-header">{{ cur_user.first_name }} {{ cur_user.last_name }}</h1>
            <p class="user-info user-text">{{ cur_user.descriptions }}</p>
            <div class="user-statistic-container">
                
                <div class="user-statistic">
                    <div class="first-colum">
                        <h3 class="user-statistic-header">Статистика</h3>
                        <ul class="statistic-list">
                            <li class="statistic-item">{{ cur_user.count_projects }} проектов</li>
                            <li class="statistic-item">{{ cur_user.count_followers }} подписок</li>
                            <li class="statistic-item">{{ cur_user.count_followings }} подписчиков</li>
                        </ul>
                    </div>
                    {% if not is_your_profile %}
                    <div class="second-colum">
                        <button class="usual-button submit-button subscribe" data-subscribe="no">Подписаться</button>
                        <script>
                            document.querySelector('.submit-button').addEventListener('click', event => {
                            if (event.target.classList.contains('subscribe')){
                                event.target.innerHTML = "Отписаться";
                                event.target.classList.remove('subscribe');
                                event.target.classList.add('unsubscribe');
                                event.target.dataset.subscribe = 'yes';
                              }
                            else if(event.target.classList.contains('unsubscribe')){
                                event.target.innerHTML = "Подписаться";
                                event.target.classList.remove('unsubscribe');
                                event.target.classList.add('subscribe');
                                event.target.dataset.subscribe = 'no';
                              }
                            });
                        </script>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="right-user-section">
            <div class="personal-user-info">
                <h4 class="personal-header">Имя Фамилия</h4>
                <p class="personal-item">{{ cur_user.first_name }}</p>
                <p class="personal-item">{{ cur_user.last_name}} </p>
            <p class="personal-item">{{cur_user.sur_sur_name}} </p>
                <h4 class="personal-header">Специализация</h4>
                <p class="personal-item">{{ cur_user.spec }}</p>
                <ul class="user-contacts">
                    {% if cur_user.vk_url %}
                    <li class="contact-item">
                        <a href="{{ cur_user.vk_url }}" class="contact">
                            <img src="{% static 'images/vk-icon.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                    {% if cur_user.hh_url %}

                    <li class="contact-item">
                        <a href="{{ cur_user.hh_url }}" class="contact">
                            <img src="{% static '/images/hh.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}

                    {% if cur_user.behance_url %}
                    <li class="contact-item">
                        <a href="{{ cur_user.behance_url }}" class="contact">
                            <img src="{% static '/images/phone.svg' %}" alt="" class="contact-img">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <div class="user-avatar">
                {% if cur_user.photo %}
                    <img src="{{cur_user.photo.url}}" alt="" class="avatar">
                {% else %}
                    <img src="{% static '/images/user-image.png' %}" alt="" class="avatar">
                {% endif %}
                {% if is_your_profile %}
                <a href="{% url 'editProfile' slug=request.user.slug %}" class="redactor-link">
                    <img src="{% static '/images/redactor-icon.svg' %}" alt="" class="redactor-icon">

                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="container second-container">
        <h1 class="projects-header">Проекты</h1>

        {% if is_your_profile %}
        <div class="add-project-aria">
            <img class="add-project-icon" src="{% static 'images/add-project-icon.png' %}">
            <a href="{% url 'addProject' %}" class="add-project-link"><div class="add-project">+Добавить новый проект</div></a>
        </div>
        {% endif %}
    </div>
    {% for project in projects %}
        <div class="container third-container">
            <div class="project-avatar-aria">
                {% if project.avatar_image %}
                    <img src="{{ project.avatar_image.url }}" alt="" class="avatar">
                {% else %}
                    <img src="{% static '/images/user-image.png' %}" alt="" class="avatar">
                {% endif %}
            </div>
            <div class="project-info-aria">
                <div>
                    <h3 class="project-name">{{ project.name }}</h3>
                    <p class="project-info user-text">{{ project.key_words }}</p>
                </div>
                <div class="about-project-section">
                    <a href="{% url 'project' profile_slug=cur_user.slug post_slug=project.slug %}" class="project-link">
                        <h5 class="abour-project">Подробнее</h5>
                        <img class="abour-project-icon" src="{% static 'images/about-project-icon.svg' %}">
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}

</body>
</html>