<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.25">
    <title>Cyberfolio profile settings</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="general_styles.css">
    <link rel="stylesheet" href="registration_styles.css">
    <link href = "fonts/stylesheet.css" rel = "stylesheet" type = "text/css" />
</head>
<body>
    <div class="registrarion-container">
        <h1 class="registration-headear">Давайте создадим аккаунт!</h1>
        <div class="form-container">
                <form action="" autocomplete method="POST" class="registation-form"></form>
                <input required type="text" name="user-name" placeholder="Фамилия" class="input enter-input">
                <input type="text" name="password" placeholder="Имя" class="input enter-input">
                <input type="text" name="password" placeholder="Отчество (при наличии)" class="input enter-input">
                </div>
                <div class="enter-submit">
                    <a href="welcome.html" class="back-button">
                        <img src="images/back-icon.png" alt="" class="back-icon">
                    </a>
                    <input type="submit" value="Далее" class="enter-submit-button usual-button">
                </div>
    </div>
</body>